{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/om-oss.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html' %}
<div class="wrapper">
    <h3 data-aos="fade-down" data-aos-duration="500">Et dokumentarbyrå basert i Oslo</h3>
    <br>
    <p>
        Wacker Features ble stiftet tidlig i 2021 av fire studenter med et
        brennende engasjement for journalistikk og informasjonsformidling og 
        et ønske om å formidle stemmene til de uhørte, de som faller utenfor
        samfunnet.
        <br><br>
    </p>
    
</div>
<div class="hrule"></div>
<div class="grid">
    
    <div class="item">
        <img src="{{ url_for('static', filename='images/admin/sophia.jpg') }}" alt="">
        <p>
            <b>Sophia Zhichkina</b> <br>
            <i>Journalist</i> <br>
            E-post: zhichkina@wackerfeatures.no <br>
            Telefon: +47 12341234 <br>
        </p>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/admin/joakim.jpg') }}" alt="">
        <p>
            <b>Joakim Pedersen</b> <br>
            <i>Fotojournalist</i> <br>
            E-post: pedersen@wackerfeatures.no <br>
            Telefon: +47 46509647 <br>
        </p>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/admin/sigve.jpg') }}" alt="">
        <p>
            <b>Sigve Bremer Mejdal</b> <br>
            <i>Fotojournalist</i> <br>
            E-post: mejdal@wackerfeatures.no <br>
            Telefon: +47 45448137 <br>
        </p>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/admin/martin.jpg') }}" alt="">
        <p>
            <b>Martin Isaksen Bekkos</b> <br>
            <i>IT & Webutvikling</i> <br>
            E-post: bekkos@wackerfeatures.no <br>
            Telefon: +47 95827765 <br>
        </p>
    </div>
</div>
{% endblock %}